<!DOCTYPE html>
<html>
<head>
  <title>Get away with Faraway</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <%= stylesheet_link_tag "application", media: "all" %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <p class="top-word">FARAWAY</p>
    </a>
  </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%- if user_signed_in? -%>
            <p class="navbar-item welcome">Welcome back, <%= current_user.name %>!</p>
            <%= link_to "Planners",  planners_path, :class => "button is-primary is-large" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "button is-primary is-large" %>
          <%- else -%>
            <%= link_to "Sign Up", new_user_registration_path, :class => "button is-primary is-large" %>
            <%= link_to "Sign In", new_user_session_path, :class => "button is-primary is-large" %>
          <%- end -%>
        </div>
      </div>
    </div>
  </nav>

  <%= yield %>

  <%- flash.each do |key, value| -%>
      <div class="flashy flashes flash flash-<%= key %>">
        <%= value %>
      </div>
  <%- end -%>

  <%= javascript_include_tag "application" %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = "<%= Rails.env %>"
    <%- end -%>
  <%- end -%>

  <%= javascript_pack_tag "application" %>

  <%= yield :extra_footer %>
</body>
</html>
